<?xml version="1.0" encoding="utf-8"?>
<connectionStrings>
  <add name="Authentication" connectionString="Data Source=.;Initial Catalog=Authentication;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="DyncData" connectionString="Data Source=.;Initial Catalog=DyncData;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  <add name="Connection" connectionString="Data Source=.;Initial Catalog=Employee;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
</connectionStrings>

