<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="ApiHost" value="GS.Api" />
  <add key="CacheStorage" value="MemoryCache" />
  <add key="IsAuthentication" value="True" />
  <add key="CorsDomains" value="http://localhost:1926,http://localhost:58624" />
  <add key="IocAssembly" value="GS.Services" />
  <add key="RedisReaderPath" value="" />
  <add key="RedisWriterPath" value="" />
  <add key="AuthorizationTarget" value="Bearer" />
</appSettings>

